* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
:root {
    --website-background-colour: #FDF0D5; 
    --game-border-colour: rgb(200, 202, 202);
    --platform-background-colour: #E9D2F4;
    --snake-colour: #86C186;
    --apple-colour: #DA4644;
    --default-background-colour: white;
    --game-dimension: 8;
}

#website-container {
    display: grid;
    justify-content: center;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 1fr 1fr repeat(auto, 10);
    grid-template-rows: repeat(6, 1fr);
}

#game-container {
    display: grid;
    grid-template-columns: repeat(var(--game-dimension), 30px);
    grid-template-rows:repeat(var(--game-dimension), 30px);
    justify-content: center;
    gap: 2px 2px;
}

/* wrappers define where website items will be placed on screen */
#game-wrapper {
    position: relative;
    grid-column: 3 /span 4;
    grid-row: 2 /span 5;
    text-align: center;
    z-index: 1;
}

.popup {
    grid-column: 3 /span 4;
    grid-row: 2 /span 5;
    /* change z-index to cause popup */
    z-index: 0;
}

#popup-text {
    text-align: center;
}

#about-wrapper {
    grid-column: 9 /span 3;
    grid-row: 2 /span 3;
}

/* this is just for the border around the grid */
#game-border {
    display: inline-block;
    border: 3px solid var(--game-border-colour);
}

.box {
    background: var(--default-background-colour);
}

/* importing roboto mono font from google apis*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
.text-box {
    background: var(--default-background-colour);
    border-radius: 25px;
    padding: 10px;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

/* !Important makes sure that javascript doesn't override it */
.box:hover {
    background-color: var(--snake-colour) !important;
}

body {
    background-color: var(--website-background-colour);
}

/* a platform is the rounded box around divs */
.platform {
    background-color: var(--platform-background-colour);
    padding: 25px;
    border-radius: 35px;
}

.title {
    text-align: center;
    font-size: 50px;
    padding-top: 2rem;
    font-family: 'Roboto Mono', monospace;
    grid-column: 6 /span 2;
}
